<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toplantı Odası</title>
</head>
<body>
    <h1>Toplantı Odası</h1>
    <p>Toplantıya sizinle birlikte 20 kişi katılıyor</p>
    <a href="#">Katılımcıları görüntüle</a>
</body>
</html>