<h1>Meeting Participation List</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Participation Status</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fatih</td>
            <td>fatih@altunel.com</td>
            <td>Participating</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Ebru</td>
            <td>ebruh@isik.com</td>
            <td>Participating</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Fevzi</td>
            <td>fevzi@yilmaz.com</td>
            <td>Not Participating</td>
            <td><a href="#">Details</a></td>
        </tr>
    </tbody>
</table>