<h1 class="h4">Meeting Participation List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Participation Status</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fatih</td>
            <td>Participating</td>
            <td><a href="#" class="btn btn-sm btn-primary">Details</a></td>
        </tr>
        <tr>
            <td>Ebru</td>
            <td>Participating</td>
            <td><a href="#" class="btn btn-sm btn-primary">Details</a></td>
        </tr>
        <tr>
            <td>Fevzi</td>
            <td>Not Participating</td>
            <td><a href="#" class="btn btn-sm btn-primary">Details</a></td>
        </tr>
    </tbody>
</table>